body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html,
body {
    background-color: #252839 !important;
}

p {
    align-content: center;
    background-color: #495285;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6em;
}

p>span {
    opacity: 0.4;
    text-align: center;
}